@model IEnumerable<DailyShop.Main.Models.TrollyOrder>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrollyOrderStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrollyOrderStatus)
        </td>
        <td>
            @Html.ActionLink("Manage Order", "UpdateOrderStat", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
